#Contenedor{
    width: 100%;
    height: 200px;
    border-style: solid;
    display:flex;
    justify-content: space-between;

}

#Rojo{
    background: red;
}

#Verde{
    background: green;
}

#Azul{
    background: blue;
}
.caja{
    color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}