<div class="page-header">
    <h1>{{{title}}}</h1>
    <a href="">{{{newButton}}}</a>
</div>

<div class="page-table">
    <table class="table table-striped">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>{{@key}}</th>
                {{/each}}
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                {{#each this}}
                <td>{{this}}</td>
                {{/each}}
                <td>{{>detailBtn}}</td>
                <td>{{>editBtn}}</td>
                <td>{{>deleteBtn}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>