body{
    background-color: var(--main) !important;
    height: 100vh;
}

.formContainer{
    position:relative;
    width: 400px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.formContainer form{
    padding: 20px;
}


.formContainer form p{
    color: red;
    text-align: center;
}
