<div class="sidebar">
    <div class="side-head">
        <img class="side-logo" src="/images/STINEGRO.png"/>
    </div>
    <div class="side-cont">
        <ul class="side-list">
            <li><a href="/clientes" class="{{clientes}}"><i class="bi bi-people"></i>Clientes</a></li>
            <li><a href="/rep" class="{{rep}}"><i class="bi bi-clipboard-check"></i>&nbsp;Reparaciones</a></li>
            <li><a href="/usuarios" class="{{usuarios}}"><i class="bi bi-person-video3"></i>&nbsp;Usuarios</a></li>
        </ul>
    </div>
    <div class="side-footer">
        <p>Created by Javier Russo &copy;2022 </p>
    </div>
</div>