<aside class="sidebar">
    <div class="side-head">
        <img class="side-logo" src="/images/STINEGRO.png"/>
    </div>
    <div class="side-cont">
        <a href="/clientes" class="{{clientes}}"><i class="bi bi-people"></i>&nbsp;Clientes</a>
        <a href="/rep" class="{{rep}}"><i class="bi bi-clipboard-check"></i>&nbsp;Reparaciones</a>
        <a href="/usuarios" class="{{usuarios}}"><i class="bi bi-person-video3"></i>&nbsp;Usuarios</a>
    </div>
    <div class="side-footer">
        <p>Created by Javier Russo &copy;2022 </p>
    </div>
</aside>