@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 100%;
	background: #8FA68E;
	display: flex;
	flex-direction: column;
}
nav {
	background: rgb(255,204,102);
	width: 100%;
}
a {
	color:black;
	line-height: 2em ;
}
section {
	border-top: solid black 0.1em;
	background: #F1F2C0;
	width: 100%;
	margin-left:0;
	padding: 1em;
}
aside {
	border-top: solid black 0.1em;
	background: #CCC59E;
	width: 100%;
	padding: 1em;
}
